@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

*{
	padding: 0;
	margin: 0;
    font-family: 'Noto Sans TC';
    font-weight: 300;
    list-style: none;
}
a{
    color:#fff;
}
a:hover{
    color:#fff;
    text-decoration: none;
}
@keyframes text_fadein{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes move_in{
    from{
        bottom: 80px;
    }to{
        bottom:0;
    }
}
/* 首頁一進來所看到的內容 */
.index_100vh{
    width: 100%;
    height: 120vh;
    background: url(images/index_bg.svg) no-repeat center center;
    background-size: cover;
}
.navbar{
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    color: #fff;
}
.navbar_logo{
    display: flex;
    flex-wrap: wrap;
}
.navbar_a{
    display: flex;
    margin: 0;
}
.navbar_a li{
    padding: 0px 15px;
    font-size:16px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 30px;
}
.navbar_a li:hover{
    color:#000;
}
.index_main{
    width: 1400px;
    height: 69%;
    margin: 0 auto;
    position: relative;
}
.index_main h1{
    color:#fff;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 0.8px;
    animation: text_fadein 2s linear;
}
.index_main h2{
    color:#fff;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
    padding:7px 0 15px 0;
    opacity: 0;
    animation: text_fadein 2s linear 1s forwards;
}
.index_main a{
    color:#000;
    font-size:16px;
    background: #fff;
    padding:11px 44px;
    border:1px solid transparent;
    border-radius: 5px;
    transition: 1s all cubic-bezier(0.215, 0.610, 0.355, 1);
    opacity: 0;
    animation: text_fadein .8s linear 2s forwards;
}
.index_main a:hover{
    color:#fff;
    background: transparent;
    border:1px solid ;
    text-decoration: none;
}
.index_mb{
    position: absolute;
    right:0;
    bottom: 80px;
    opacity: 0;
<<<<<<< HEAD
    animation: move_in 1s linear 2s forwards,text_fadein 1s linear 2s forwards;
   
=======
    animation: move_in 1s linear 1s forwards,text_fadein 2s linear 1s forwards;
}
.index_mb_mobile{
    width: 375px;
    max-width: 375px;
    height: 335px;
    background: url(images/index_mb.svg) no-repeat center bottom;
    background-size: cover;
    position: absolute;
    bottom:0;
    display: none;
    opacity: 0;
    animation: move_in 1s linear 1s forwards,text_fadein 2s linear 1s forwards;
>>>>>>> 243093ebc6722ebb6deee54666e8307072b28577
}
.index_maintext{
    display: inline-block;
    position: relative;
    top:100px;
    left:80px;
}
.navbar_userandshopping img{
    margin: 0 10px;
}
/* 為什麼選擇酷客 */
.index_h1{
    font-weight: 300;
    font-size:30px;
    text-align: center;
    margin-top:30px;
    font-family: 'Noto Sans TC';
}
.threereason_100vw{
    width: 100%;
    height: 300px;
    background: url(images/threereason_bg.svg) no-repeat center center;
    background-size: cover;
    margin: 15px 0;
}
.threereason_container{
    max-width: 800px;
    margin: 0 auto;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.threereason_container p{
    color:#fff;
    font-size:16px;
    font-weight: 300;
    text-align: center;
    margin: 10px 0;
}
/*熱門上架商品*/
.hot_container{
    max-width: 1200px;
    margin: 100px auto 10px auto;
    border-bottom:1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.hot_container h1{
    font-size:30px;
    font-weight: 300;
    margin: 0;
    padding: 10px 0;
}
.hot_container h2{
    font-size:20px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
}
.hot_texth2{
    display: flex;
    cursor: pointer;
}

.hot_click{
    border-bottom:3px solid transparent;
    cursor: pointer;
}
.hot_cpu{
    border-bottom: 3px solid #97c5d8;
    cursor: pointer;
}
.hot_now{
    border-bottom:3px solid #97c5d8;
    cursor: pointer;
}

.new_items{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.new_items h5{
    color:#aaa;
    font-size:14px;
    font-weight: 300;
}
.new_connect h3{
    color:#000;
    font-size:18px;
    font-weight: 300;
}
.new_connect h2{
    color:#83A9CB;
    font-size:30px;
    font-weight: bold;
    margin: 20px 0;
}
.new_left{
    margin-top:10px;
    width:330px;
    height: 490px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.new_left:hover{
    cursor: pointer;
}
.new_right{
    margin-top:10px;
    width: 860px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}
.new_connect{
    width: 220px;
    height: 360px;
}
.new_connect_img{
    text-align: center;
    position: relative;
}
.new_connect_circle{
    width: 35px;
    height: 35px;
    background-color: #97c5d8;
    border-radius: 50%;
    color: #fff;
    line-height: 35px;
    position: absolute;
    font-size: 13px;
    left:10px;
}
.new_connect_btn{
    width: 330px;
    height: 45px;
    background-image: linear-gradient(to bottom, #c8e4ee, #84a9cc);
    position: absolute;
    bottom: 0;
    text-align: center;
}
.new_connect_btn:hover{
    background-image: linear-gradient(to bottom, #c8e4ee, #5983ab);
}
.new_connect_btn a{
    color:#fff;
    font-size:18px;
    line-height: 45px;
}
.new_connect_btn a:hover{
    color:#fff;
    text-decoration: none;
}
.new_right_items{
    width: 215px;
    height: 230px;
    background: #fff;
    text-align: center;
    border-right: 1px solid #ccc;
    position: relative;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}
.new_right_items:hover{
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}
.new_right_items_noborder{
    border-right:0px;
}
.new_right h2{
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0;
}
.new_right h3{
    font-size:16px;
    font-weight: 300;
}
.percent_circle{
    width: 35px;
    height: 35px;
    background-color: lightcoral;
    border-radius: 50%;
    position: absolute;
    color:#fff;
    text-align: center;
    line-height: 35px;
    font-size:10px;
    left:10px;
}

.No1_items_100vw{
    margin:100px 0;
    width: 100%;
    height: 400px;
    background-color: #eff6fa;
}
.No1_items_container{
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding:35px 0;
}
.No1_items_container h1{
    color:#000;
    font-size:30px;
    font-weight: 300;
    margin: 8px 0;
    position: relative;
}
.No1_items_container h2{
    color:#000;
    font-size:64px;
    font-weight: 100;
    margin: 8px 0;
    letter-spacing: 2px;
    position: relative;
}
.No1_01{
    width: 262px;
    height: 330px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    transition: all .3s;
    cursor: pointer;
}
.No1_01:hover{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
.No1_img{
    text-align: center;
    padding:15px 0 ;
}
.No1_01 p{
    font-size: 14px;
    color:#aaaaaa;
    margin: 0 15px;
    padding: 0;
}
.No1_01 h3{
    padding: 0;
    margin: 0 15px;
    font-size:18px;
    font-weight: 300;
}
.stars{
    margin: 15px;
}
/* section */
.section_01 a{
    color: #000;
}
.section_01 a:hover{
    color: #fff;
    text-decoration: none;
}
.section_01{
	width: 0%;
	height: 25vh;
    background-image: linear-gradient(240deg, #b4cee7, #5a82a7);
    transition: width .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.section_01:hover{
	width:100%;
}
.section_01:hover h1{
	color:#fff;
}
.section_01:hover h3{
	color:#fff;
}
.section_01:hover .section_img01,
.section_01:hover .section_img02,
.section_01:hover .section_img03,
.section_01:hover .section_img04{
	opacity: 1;
}
.section_01:hover .section_text01,
.section_01:hover .section_text02{
    border-left: 5px solid #fff;
}
.section_container{
	width: 100%;;
	height: 25vh;
	position: absolute;
}
.section_text01{
	border-left:5px solid #B3CEE6;
	padding:0 10px;
	position: absolute;
	right:15%;
	top:50%;
    transform: translateY(-50%);
    transition: all 1s;
}
.section_text02{
	border-left:5px solid #B3CEE6;
	padding:0 10px;
	position: absolute;
	left:15%;
	top:50%;
    transform: translateY(-50%);
    transition: all 1s;
}
.section_01 h1{
	color: #282828;
	font-size:30px;
	transition: all .5s;
	font-weight: 300;
}
.section_01 h3{
	color:#282828;
    font-size:16px;
    font-weight: 300;
	transition: all .5s;
}
.section_img01{
	width: 55%;
	height: 25vh;
	background: url(images/section_img01.svg) no-repeat center center;
	background-size:contain;
	opacity: 0;
	transition: all 1s;
}
.section_img02{
	position: absolute;
	right:0;
	width:55%;
	height: 25vh;
	background: url(images/section_img02.svg) no-repeat center center;
	background-size: contain;
	opacity: 0;
	transition:all 1s;
}
.section_img03{
    width: 55%;
	height: 25vh;
	background: url(images/section_img03.svg) no-repeat center center;
	background-size:contain;
	opacity: 0;
	transition: all 1s;
}
.section_img04{
    position: absolute;
	right:0;
	width:55%;
	height: 25vh;
	background: url(images/section_img04.svg) no-repeat center center;
	background-size: contain;
	opacity: 0;
	transition:all 1s;
}

/*訂閱電子報*/
.sub_100vw{
    width: 100%;
    margin: 100px 0 0 0;
    height: 160px;
    background: #F0F0F0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.sub_container{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.sub_input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border:none;
}
.sub_btn{
    background: #83A9CB;
    padding:9px 40px;
    font-size:15px;
    font-weight: 300;
    border-radius: 5px;
    margin: 0 5px;
    color: #fff;
}
.sub_btn:hover{
    color:#fff;
    text-decoration: none;
}
.sub_text h1{
    font-size:20px;
    font-weight: 300;
}
.sub_text h2{
    font-size:14px;
    font-weight: 300;
    color:#aaa;
}
/* footer */
.black{
    background: url(images/footer_bg.svg)no-repeat center center;
    background-size: cover;
}

footer{
   padding: 30px 0;
   color: #fff;
}
footer a{
    color:#fff;
}
footer a:hover{
    color: #fff;
    text-decoration: none;
}
.f-logo{
	margin-top: 9px;
}
footer .nav-link{
	font-size: 12px;
	padding-right: 5rem;
	font-weight: 300;
}

a.f-title{
	font-size: 16px;
	font-weight: 400;
}

footer > p{
	text-align: center;
	color: #fff;
	font-weight: 200;
	font-size: 12px;
	font-family: Arial;
	margin-top:30px;
}

footer > p::before,
footer > p::after{
	width: 400px;
	content:"";
	height: 1px;
	background-color: #fff;
	display: inline-block;
	margin: 0 30px;
    vertical-align: center;
    transform: translateY(-2.5px);
}
@media screen and (max-width: 576px) {
    .footer_web{
        display: none;
    }
<<<<<<< HEAD
=======
    .navbar{
        display: none;
    }
    .index_mb{
        display: none;
    }
    .index_mb_mobile{
        display: block;
    }
    .index_maintext{
        top:70px;
        left:40px;
    }
    .index_maintext h1{
        font-size:36px;
    }
    .index_maintext h2{
        font-size:14px;
        line-height: 28px;
        padding: 0;
        margin: 8px 0;
    }
    .index_maintext a{
        padding:5px 20px;
        font-size:14px;
    }
    .index_100vh{
        height: 100vh;
    }
    .index_h1{
        font-size:24px;
        margin: 30px 0;
    }
    .threereason_100vw{
        height: 800px;
    }
    .threereason_div{
        margin: 30px 15px 0 15px;
    }
    .hot_container{
        margin-top:40px;
    }
    .hot_container h1{
        font-size: 20px;
        padding: 10px;
    }
    .hot_container h2{
        font-size:12px;
    }
    .new_right_items{
        width: 185px;
        border:none;
        padding: 5px;
    }
    .new_right_items img{
        width: 130px;
    }
    .new_right h2{
        font-size:18px;
    }
    .new_right h3{
        font-size:14px;
    }
    .No1_items_100vw{
        margin:10px 0;
    }
    .No1_01{
        margin: 10px 0;
    }
    .section_text01{
		left:5%;
		right:5%;
	}
	.section_text02{
		left:5%;
		right:5%;
    }
    .section_img01,
    .section_img02,
    .section_img03,
    .section_img04{
        width: 100%;
    }
    .sub_100vw{
        margin-top:20px;
    }
    .sub_container{
        justify-content: flex-start;
    }
    .sub_send{
        padding:0 10px;
    }
    .sub_text h2{
        font-size:12px;
    }
    .sub_input{
        max-width: 260px;
        margin-left: 10px;
    }
    .sub_btn{
        padding: 9px 20px;
    }
    .sub_email{
        margin: 10px 0;
    }
    .copy_right::before,
    .copy_right::after{
        display: none;
    }
    /* 響應式 footer 手風琴 */
	.tab {
        position: relative;
        margin-bottom: 1px;
        width: 100%;
        color: #fff;
        overflow: hidden;
      }
      input.f-tab {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
      label.f-tab {
        position: relative;
        display: block;
        padding: 0 0 0 1em;
        background: #708090;
        line-height: 3;
        cursor: pointer;
        border-bottom: 1px solid #fff;
      }
      .tab-content {
        max-height: 0;
        overflow: hidden;
        background: #708090;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
      }
  
      .tab-content ul {
        margin: 0.5em 1em;
      }
      .tab-content li{
        line-height: 2;
        font-weight: 300;
      }
      .tab-content ul li a{
          color: #fff;
      }
      .tab-content ul li a:hover{
          color: #eee;
          text-decoration: none;
      }
      /* :checked */
      input.f-tab:checked ~ .tab-content {
        max-height: 10em;
      }
      /* Icon */
      label.f-tab::after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 3em;
        height: 3em;
        line-height: 3;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
      }
      input.f-tab[type=checkbox] + label::after {
        content: "+";
      }
      input.f-tab[type=radio] + label.f-tab::after {
        content: "\25BC";
      }
      input.f-tab[type=checkbox]:checked + label.f-tab::after {
        transform: rotate(315deg);
      }
      input.f-tab[type=radio]:checked + label.f-tab::after {
        transform: rotateX(180deg);
      }
      /* 響應式手風琴 end */
>>>>>>> 243093ebc6722ebb6deee54666e8307072b28577
}