@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
	background-color: #F5F8FB;
}
*{
	padding: 0;
	margin: 0;
    font-family: 'Noto Sans TC', Arial, sans-serif;
    list-style: none;
}

.container{
	width: 100%;
}

button:focus{
	outline: 0;
}



/* start of navbar*/
.navbar{
	background-color: rgba(132, 169, 205, 0.85);
	width: 100%;
	height: 80px;
	padding: 10px 0;
	font-size: 18px;
}

.nav-item .nav-link{
	color: #fff;
}
.nav-item a{
	font-size:16px;
}
button{
	border: none;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
}

.cart, .login{
	padding: 5px 10px;
	transform: scale(0.85);
	position: relative;
	display: block;
}


	/* 改變預設字體粗度 */
.navbar-expand-lg .navbar-nav .nav-link{
    font-weight: 300;
}

	/* navbar 字體 hover */
.navbar-expand-lg .navbar-nav li.nav-item{
    position: relative;
}

.navbar-expand-lg .navbar-nav a.nav-link:hover:after {
    width: 69%;
}

a.element:not([href]):not([tabindex]):hover{
	color: #fff;
}


 /* 下拉選單 */
.list-group{
	min-width: 160px;
	top: 43px; /* 位置要設近一點，滑鼠比較容易摸到 */
	right: -33px;
	height: auto;
	color: rgba(0, 0, 0, 0.6);
	position: absolute;
	display: none;
	z-index: 10;
	transition: top 0.3s;
	font-size: 14px;
	line-height: 20px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
	border-radius: 0.25rem;
}

/* 會員下拉選單 */
button.login .list-group{
	min-width: 150px;
	top: 41px; /* 位置要設近一點，滑鼠比較容易摸到 */
	left: -16px;
	height: auto;
	color: rgba(0, 0, 0, 0.6);
	position: absolute;
	display: none;
	z-index: 10;
	transition: top 0.3s;
	font-size: 14px;
	line-height: 20px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
	border-radius: 0.25rem;
}


li.nav-item .list-group-item{
	padding: 5px 5px 3px 10px;
	border: transparent;
	border-left: 5px solid transparent;
	color: #666;
}
button.login > ul.list-group > .list-group-item{
	border: transparent;
    border-left: 5px solid transparent;
    color: #666;
	padding: .75rem;
}

li.nav-item .list-group-item.active, li.nav-item .list-group-item-action:hover, button.login > ul.list-group > .list-group-item.active, button.login > ul.list-group > .list-group-item:hover{
	background-color: #e5e5e5;
	border-left: 5px solid #fac375;
}

.list-group a{
	font-size: 16px;
	font-weight: 400;
}

button.login a{
	font-size: 18px;
	font-weight: 400;
}



li.nav-item{
	position: relative;
	color: #fff;
}

li.nav-item:hover .list-group, a.element:hover .list-group, .list-group:hover, .list-group-item:hover,  button.login:hover ul.list-group, button.login:hover a.list-group-item{
	display: block;
	cursor: pointer;
}

.list-group span{
	font-size: 10px;
	color: #9b9b9b;
}

 /* 下拉選單end */



.navbar-expand-lg .navbar-nav a.nav-link:after {
   	content: '';
    position: absolute;
    left: 7px;
    bottom: -2px;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background: #eee;
    transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.m_navbar{
	position: relative;
}

/*手機版時不要出現*/
.dropMenu{
	width: 100vw;
	min-height: 0;
	height: 0;
	background-color: #84A9CD;
	transition: all .3s;
	position: fixed;
	z-index: 1000;
	overflow: hidden;
}

.dropMenu ul{
	width: 100%;
}
/* click menu and toggle */
.dropMenu-collapsed{
	min-height: 100vh;
	transition: all .3s;
	position: fixed;
	overflow: hidden;
}

.dropMenu a{
	width: 100%;
	display: block;
	color: #fff;
	font-size: 18px;
	padding: 5px;
	font-weight: 300;
}
.dropMenu a:hover{
	background: #283f4e;
	text-decoration: none;
	border-radius: 5px;
}

.dropMenu .active2:hover{
	border-radius: 5px 5px 0 0;
}
.dropMenu li{
	padding: 5px;
}

.m_list{
	width: 100%;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 0 0 5px 5px;
}
ul.b_list{
	width: 50%;
}

.social_icon{
	position: absolute;
	bottom: 50px;
	left: 28%;
	padding: 10px;
}

.social_icon img{
	padding: 10px;
}

.b_list li{
	padding: 0;
	border-bottom: 1px solid #ccc;
	background: #fff;
	border-right: 1px solid #ccc;
}
.b_list li:last-child{
	border-bottom: 0;
}
.b_list + .b_list li{
	border-right:0;
}
.b_list li a{
	font-size: 16px;
	padding: 4px;
	color: #84A9CD;
}
.b_list li a:hover{
	color: #fff;
	border-radius: 0;
}


 /* 手機清單的navbar fixed-top雷 */
.fixed-top-space2{
	height: 70px;
	background-color: #84A9CD;
}
/* here's the end of navbar*/




/* bs4 的雷，Navbar 設 fixed-top 下面文字會被遮住，下面是解法 */
.fixed-top-space{
	height: 90px;
	/*background-color: #84A9CD;*/
}

.blue{
	background-color: #84A9CD;
}




/* 用戶評論 */

  /* 用戶評論的 hero section */
.h-section{
	background-color: #84A9CD;
	/*padding-bottom: 35px;*/
	color: #fff;
}

.h-section h1{
	font-size: 40px;
	font-weight: 300;
}

.h-section p{
	font-size: 16px;
	font-weight: 300;
	line-height: 1.8;
	/*padding-left:40px;*/
}


  /* 加入購物車按鈕 */
button.add-to-cart, button.loginNow {
	margin: 0 auto;
	padding: 8px 30px;
	background-color: #FC9F66;
	color: #fff;
	font-size: 18px;
	position: relative;
	margin-top: 15px;
}

button.add-to-cart:hover, button.loginNow:hover{
	top: -6px;
	box-shadow: 0px 6px 0px #F17529;
	transition: top .4s;
}
button.loginNow a{
	color: #fff;
	text-decoration: none;
}
/* searchbar 樣式 */
.s_bar{
	position: relative;
	padding-bottom: 20px;
}
.s_bar img{
	position: absolute;
	width: 25px;
    top: 19%;
    left: 508px;
}
.searchbar{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 8px 15px;
	border-radius: 50px;
	border: 2px solid #84A9CD;
}

.searchbar:focus{
	outline: 0;
}
   
   /* 修改 placeholder 色彩 */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #84A9CD;
  opacity: 0.9;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #84A9CD;
  opacity: 0.9;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #84A9CD;
  opacity: 0.9;
}
:-moz-placeholder { /* Firefox 18- */
  color: #84A9CD;
  opacity: 0.9;
}

p.keyword{
  padding-left: 20px;
}


.hot_keyword{
	background: #84A9CD;
	color: #fff;
	padding: 3px 6px;
	border-radius: 3px;
	font-weight: 300;
	font-size: 14px;
}

p.keyword span.select{
	padding-left: 8px;
	cursor: pointer;
}

p.keyword span{
	cursor: pointer;
}

p.keyword span:last-child{
	color: #84A9CD;
}

p.keyword a{
    color: #84A9CD;
	padding-right: 5px;
}

p.keyword a:hover{
	text-decoration: none;
}


/* end of search bar */

/* 熱門評論 */
.comment{
	margin-top: 30px;
	color: #666;
}
.c-space{
	border-radius: 5px;
	box-shadow: 0px 0px 6px #eee;
	background-color: #fff;
}

  /* 用戶貼文內容 */
.post{
	margin-top: 20px;
}
  /* 用戶頭像 */
.profile img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 10px;
	background-color: #ccc;
}

.username{
    font-size: 14px;
    color: #9c9c9c;
}

.p-text{
   margin-left: 70px;
   text-align: justify;
}

.p-text a{
	display: flex;
	flex-direction: row-reverse;
	color: #84A9CD;
	text-decoration: none;
}

.p-img img{
	width: 100%;
}


  /* 購買清單 */
.list{
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

.list h4{
	margin: 20px 0;
}

.cta-button button{
	background-color: #FC9F66;
	border-radius: 5px;
	color: #fff;
	padding: 8px 20px;
	position: relative;
}

.cta-button button:hover{
	top: -6px;
	box-shadow: 0px 6px 0px #F17529;
	transition: top .4s;
}

.pd .table td, .table th {
    padding: 0.6rem;
}

	/* 解決表格第一列不要有上框線*/
.pd .table tr:first-child td, .table tr:first-child th{
	border: 0;
}


/* 投稿欄位 */

/* 未登入狀態 */
.unLogin{
	background-color: #fae39c;
	background:url(img/bg-bottom.svg);
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	font-size: 30px;
}


.caption{
	padding: 40px 0;
}

/* 立即登入按鈕 */
button.loginNow{
	font-size: 20px;
}

/* pagination */
ul.pagination > li.page-item a, .page-item.disabled .page-link{
	border: 1px solid #84A9CD;
	background-color: transparent;
}

.page-item.disabled .page-link{
	color: #97C5D8;
}
ul.pagination > li.page-item a{
	color: #84A9CD;
}

ul.pagination > li.page-item a:hover{
	background-color: #84A9CD;
	color: #fff;
}

ul.pagination > li.page-item:nth-child(2) a, ul.pagination > li.page-item a:active{
	background-color: #84A9CD;
	color: #fff;
}

/* footer */
.black{
	background: url(img/footer_bg.svg)no-repeat center center;
    background-size: cover;
}


footer{
   padding: 30px 0;
   color: #fff;
}

.f-logo{
	margin-top: 9px;
}
footer .nav-link{
	font-size: 12px;
	padding-right: 5rem;
	font-weight: 300;
}

a.f-title{
	font-size: 16px;
	font-weight: 400;
}

footer > p{
	text-align: center;
	color: #fff;
	font-weight: 200;
	font-size: 12px;
	font-family: Arial;
	margin-top:30px;
}

footer > p::before,
footer > p::after{
	transform: translateY(-2px);
	width: 400px;
	content:"";
	height: 1px;
	background-color: #fff;
	display: inline-block;
	margin: 0 30px;
	vertical-align: middle;
}

/* go to top 回到頂端*/
.circle{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #84A9CD;
	z-index: 1000;
	text-align: center;
	opacity: 0;
}

.circle img{
	width: 25px;
	height: 25px;
	transform: translateY(-2px);
	vertical-align: middle;
}

.show{
	opacity: 1;
}

button.circle:focus{
	outline:0;
}


/* 手機版 */

@media screen and (max-width: 576px)  {
	*{
		overflow-x: hidden;
	}
	.h-section h1, .h-section p{
		padding-left: 0;
	}
	/* 購買清單 */
	.list{
		margin-top: 0;
		overflow-y: hidden;
	}
	/* 標題都有神秘的直向捲軸 */
	h1, h3{
		overflow-y: hidden;
	}

	.navbar{
		height: 70px;
	}


	/* searchbar */
	p.keyword{
  		padding-left: 0;
  		text-align: justify;
	}

	p.keyword a:hover{
	text-decoration: underline;
	}
	p.keyword a{
	    padding-right: 0;
        padding-left: 3px;
	}
	p.keyword span.select{
		padding: 0;
		padding-left: 5px;
	}
	.s_bar img {
    position: absolute;
    width: 25px;
    top: 10px;
    left: 296px;
	}

	.hot_keyword{
	  padding: 1.2px 6px;
	}
	/* 購物清單 */
	.list h4 {
		padding: 8px 0;
		margin:0 0 5px 0;
		overflow-y: hidden;
		background-color: #97C5D8;
		color: #fff;
		font-weight: 300;
		font-size: 20px;
		letter-spacing: 2px;
		border-radius: 5px;
	}
	.p-text{
		margin-left: 0;
		margin-top: 15px;
	}

	.pd{
		margin: 0 auto;
	}

	.pd.table{
		margin-top: 5px;
	}
	
	.pd .table td, .table th{
		border-bottom: 1px solid #dee2e6;
	}
	 /* 解決表格最後一列不要有底線*/
	.pd .table tr:last-child td, .table tr:last-child th{
		border: 0;
	}

	.cta-button{
		width: 95%;
	}

	.pd > .cta-button button{
		margin-top: 10px;
		padding: 10px 20px;
		width: 100%;
	}

	.caption p{
		font-size: 22px;
	}

	.dpn, .m_dpn{
		margin-left: 10px; 
		transform: translateY(-3px) rotate(180deg);
	}

	.list > h4 > img{
		margin-left: 10px; 
		transition: all .4s;
	}


	footer > p::before,
	footer > p::after{
		height: 0;
	}

	/* 響應式 footer 手風琴 */
	.tab {
	  position: relative;
	  margin-bottom: 1px;
	  width: 100%;
	  color: #fff;
	  overflow: hidden;
	}
	input.f-tab {
	  position: absolute;
	  opacity: 0;
	  z-index: -1;
	}
	label.f-tab {
	  position: relative;
	  display: block;
	  padding: 0 0 0 1em;
	  background: #6F7E8C;
	  line-height: 3;
	  cursor: pointer;
	  border-bottom: 1px solid #fff;
	}
	.tab-content {
	  max-height: 0;
	  overflow: hidden;
	  background: #6F7E8C;
	  -webkit-transition: max-height .35s;
	  -o-transition: max-height .35s;
	  transition: max-height .35s;
	}

	.tab-content ul {
	  margin: 0.5em 1em;
	}
	.tab-content li{
	  line-height: 2;
	  font-weight: 300;
	}
	.tab-content ul li a{
		color: #fff;
	}
	.tab-content ul li a:hover{
		color: #eee;
		text-decoration: none;
	}
	/* :checked */
	input.f-tab:checked ~ .tab-content {
	  max-height: 10em;
	}
	/* Icon */
	label.f-tab::after {
	  position: absolute;
	  right: 0;
	  top: 0;
	  display: block;
	  width: 3em;
	  height: 3em;
	  line-height: 3;
	  text-align: center;
	  -webkit-transition: all .35s;
	  -o-transition: all .35s;
	  transition: all .35s;
	}
    input.f-tab[type=checkbox] + label::after {
	  content: "+";
	}
	input.f-tab[type=radio] + label.f-tab::after {
	  content: "\25BC";
	}
    input.f-tab[type=checkbox]:checked + label.f-tab::after {
	  transform: rotate(315deg);
	}
    input.f-tab[type=radio]:checked + label.f-tab::after {
	  transform: rotateX(180deg);
	}
	/* 響應式手風琴 end */
	.swal-modal {
      width: 260px;
    }
    .swal-icon{
     transform: scale(0.8);
    }
}

/* sweet alert */
.swal-title {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 20px;
}