@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
	background-color: #F5F8FB;
}
*{
	padding: 0;
	margin: 0;
    font-family: 'Noto Sans TC', Arial, sans-serif;
    list-style: none;
}
::selection{
    background: #283E4E;
}
.container{
	width: 100%;
}

a:hover{
	color:#666;
	text-decoration: none;
}

/* start of navbar*/
.navbar{
	background-color: #84A9CD;
	width: 100%;
	height: 80px;
	padding: 10px 0;
	font-size: 18px;
	position: fixed;
	z-index: 2;
}

.nav-item .nav-link{
	color: #fff;
}
.nav-item a{
	font-size:16px;
}
button{
	border: none;
	background: transparent;
	cursor: pointer;
	border-radius: 5px;
}

.cart, .login{
	padding: 0 10px;
	transform: scale(0.85);
}

	/* 改變預設字體粗度 */
.navbar-expand-lg .navbar-nav .nav-link{
    font-weight: 300;
}

	/* navbar 字體 hover */
.navbar-expand-lg .navbar-nav li.nav-item{
    position: relative;
}

.navbar-expand-lg .navbar-nav a.nav-link:hover:after {
    width: 69%;
}

a.element:not([href]):not([tabindex]):hover{
	color: #fff;
}


 /* 下拉選單 */
.list-group{
	min-width: 160px;
	top: 43px; /* 位置要設近一點，滑鼠比較容易摸到 */
	right: -10px;
	height: auto;
	color: rgba(0, 0, 0, 0.6);
	position: absolute;
	display: none;
	z-index: 10;
	transition: top 0.3s;
	font-size: 14px;
	line-height: 20px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
	border-radius: 0.25rem;
}

li.nav-item .list-group-item{
	padding: 5px 5px 3px 10px;
	border: transparent;
	border-left: 5px solid transparent;
	color: #666;
}

li.nav-item .list-group-item.active, li.nav-item .list-group-item-action:hover{
	background-color: #e5e5e5;
	border-left: 5px solid #fac375;
}

.list-group a{
	font-size: 16px;
	font-weight: 400;
}


li.nav-item{
	position: relative;
	color: #fff;
}

li.nav-item:hover .list-group, a.element:hover .list-group, .list-group:hover, .list-group-item:hover{
	display: block;
	cursor: pointer;
}

.list-group span{
	font-size: 10px;
	color: #9b9b9b;
}

 /* 下拉選單end */



.navbar-expand-lg .navbar-nav a.nav-link:after {
   	content: '';
    position: absolute;
    left: 7px;
    bottom: -2px;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background: #eee;
    transition: width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}





	/* toggle switch start */
.toggle-switch{
    margin-top: auto;
    transform: scale(0.85);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 3px;
  right: 0;
  bottom: 0;
  background-color: #283E4E;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #84A9CD;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* toggle switch end */


/* here's the end of navbar*/




/* bs4 的雷，Navbar 設 fixed-top 下面文字會被遮住，下面是解法 */
.fixed-top-space{
	height: 90px;
	background-color: #84A9CD;
}

.blue{
	background-color: #84A9CD;
}
/* Step by Step 上方區塊*/
.stepbystep_100vw{
	width: 100%;
	height: 430px;
	background: url(images/bg-top-blue.svg)no-repeat center;
	margin-top:80px;
	background-size: cover;
}
.stepbystep_top_container{
	max-width: 1200px;
	margin: 0 auto;
}
.stepbystep_100vw h1{
	color: #fff;
	font-size:48px;
	font-weight: 200;
	text-align: center;
	padding-top:40px;
	padding-bottom:40px;
}
.stepbystep_100vw h3{
	color:#fff;
	font-size:16px;
	font-weight: 300;
	text-align: center;
	padding-bottom:40px;
	line-height: 24px;
}
.stepbystep_items{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
}

.stepbystep_items li{
	color:#fff;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
	font-weight: 300;
	font-size: 16px;
}
.stepbystep_items img{
	padding:0 5px;
}
.stepbystep_point{
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
}
.stepbystep_point li{
	width: 120px;
	display: flex;
	justify-content: center;
}
.stepbystep_items_mobile{
	margin: 0 auto;
	justify-content: space-between;
	width: 360px;
	display: none;
}
.stepbystep_items_mobile li{
	width: 40px;
	display: flex;
	justify-content: center;
}
.stepbystep_point_mobile{
	display: none;
	justify-content: space-between;
	width: 360px;
	margin: 0 auto;
}
.stepbystep_point_mobile li{
	width: 40px;
	display: flex;
	justify-content: center;
}
.point_container{
	width: 1190px;
	height: 50px;
	position: relative;
}
.point{
	position: absolute;
	left: 60px;
	top:0;
	transition: all 1s;
	z-index: 1;
}
.point_software{
	left:60px;
}
.point_cpu{
	left:210px
}
.point_mb{
	left:369px;
}
.point_ram{
	left:529px;
}
.point_gpu{
	left:679px;
}
.point_hdd{
	left:835px;
}
.point_power{
	left:990px;
}
.point_case{
	left:1142px;
}

/* 挑選軟體區塊 */
.stepbystep_software_container{
	max-width: 1200px;
	background: #F5F8FB;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	opacity: 1;
	transition: all 1s;
}
.stepbystep_close{
	height: 0;
	opacity: 0;
}
.stepbystep_software_container h1{
	font-size:24px;
	font-weight: normal;
	text-align: center;
	padding:40px 0;
}
.stepbystep_software_container h1::before,
.stepbystep_software_container h1::after{
	
	width: 380px;
	height: 2px;
	background: #fac375;
	content:"";
	display: inline-block;
	vertical-align: center;
	margin:0 15px 7px 15px;
	
}
.software_01{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.software_01 img{
	padding:60px 0 30px 0;
}
.software_01 h2,
.software_game h2{
	font-size:24px;
	letter-spacing: 1px;
	margin-bottom:0px;
}
.software_01 h3,
.software_game h3{
	font-size:14px;
	color:#aaa;
	font-weight: normal;
	padding-bottom:30px;
	padding-top:0px;
}
.three_software{
	width: 300px;
	height: 300px;
	border-radius: 5px;
	border: 2px solid #e7e7e7;
	text-align: center;
	margin: 10px auto;
	cursor: pointer;
}
.three_software_active{
	background: #fff;
}
.three_software:hover{
	border:2px solid #ccc;
}

.learnmore_btn{
	font-size: 12px;
	background: #a3a7ab;
	color: #fff;
	padding:5px 30px;
	border-radius: 5px;
}
.learnmore_btn:hover{
	color: #fff;
	background: #8c8f93;

}
.software_img{
	width: 300px;
	height: 170px;
}
.software_game{
	margin: 0 auto;
	text-align: center;
}
.software_game img{
	padding-bottom: 30px;
}
.software_02{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 150px;
}
.game{
	width: 150px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 5px 40px;
	border:1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: all .5s;
}
.game:hover{
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.game_click{
	border:1px solid #fac375;
}
.game img{
	padding:10px;
	width: 100px;
	height: 100px;
}
.game p {
	display: inline-block;
}
.game_more{
	width: 150px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	margin: 5px 40px;
	border:1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
}
/*  影音推薦區 */
.rem_music{
	width: 100%;
	height: 0px;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 2s;
	overflow: hidden;
}
.rem_music_open{
	height: auto;
	opacity: 1;
	margin: 25px 0;
}
.rem_text{
	margin: 35px;
}
.rem_text h2{
	font-size:30px;
	font-weight: 300;
}
.rem_text h3{
	font-size:14px;
	font-weight: 300;
}
.rem_music_flex{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.rem_music_div{
	width: 262px;
	height: 330px;
	border-radius: 5px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
	background: #fff;
	transition: all .5s;
	position: relative;
	overflow: hidden;
}
.rem_music_div:hover{
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.rem_music_div p{
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	margin: 8px 0;
}
.rem_music_div h4{
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	margin: 8px 0;
}
.rem_music_img{
	text-align: center;
}
.rem_btn{
	width: 100%;
	height: 40px;
	background: #000;
	position: absolute;
	bottom:0;
	color:#fff;
	background-image: linear-gradient(to bottom, #c8e4ee, #84a9cc);
	text-align: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
}

.rem_book{
	width: 100%;
	height: 0px;
	
	border-radius: 5px;
	opacity: 0;
	transition: opacity 2s;
	overflow: hidden;
}
.rem_book_open{
	height: auto;
	opacity: 1;
	margin: 25px 0;
}
.rem_paint{
	width: 100%;
	height: 0px;
	
	border-radius: 5px;
	opacity: 0;
	transition: opacity 2s;
	overflow: hidden;
}
.rem_paint_open{
	height: auto;
	opacity: 1;
	margin: 25px 0;
}
.next_page_btn{
	width: 200px;
	height: 100px;
	background: rgba(204, 204, 204, 0.68);
	position: fixed;
	top:50%;
	right:-150px;
	border-radius: 5px;
	border: 1px solid #ccc;
	transition: all .6s cubic-bezier(0.19, 1, 0.22, 1);
	cursor: pointer;
}
.next_page_btn:hover{
	right:-100px;
}

/*中央處理器*/
.cpu_container{
	max-width: 100%;
	margin: 0 auto;
	height: 0;
	background: #fff;
	opacity: 0;
	transition: opacity .3s;
}
.cpu_container_open{
	opacity: 1;
	height: 600px;
}






/* footer */
.black{
	background-color: #708090;
}

footer{
   padding: 30px 0;
   color: #fff;
}

.f-logo{
	margin-top: 9px;
}
footer .nav-link{
	font-size: 12px;
	padding-right: 5rem;
	font-weight: 300;
}

a.f-title{
	font-size: 16px;
	font-weight: 400;
}

footer > p{
	text-align: center;
	color: #fff;
	font-weight: 200;
	font-size: 12px;
	font-family: Arial;
	margin-top:30px;
}

footer > p::before,
footer > p::after{
	width: 400px;
	content:"";
	height: 1px;
	background-color: #fff;
	display: inline-block;
	margin: 0 30px;
	vertical-align: center;
}

/* ----RWD---- */
@media screen and (max-width: 576px) {
	.navbar{
		display: none;
	}
	.stepbystep_items{
		display: none;
	}
	.stepbystep_items_mobile{
		display: flex;
	}
	.stepbystep_point{
		display: none;
	}
	.stepbystep_point_mobile{
		display: flex;
	}
	.stepbystep_software_container h1::before{
		display: none;
	}
	.stepbystep_software_container h1::after{
		width: 300px;
	}
	.stepbystep_software_container h1{
		padding-top:30px;
		padding-bottom:10px;
		font-size:18px;
	}
	.software_02{
		justify-content: center;
		width: 360px;
	}
	.game{
		width: 120px;
		margin: 1px 20px;
	}
	.game_more{
		margin:5px 5px;
	}
	/* 響應式 footer 手風琴 */
	.footer_web{
		display: none;
	}
	footer > p::before,
	footer > p::after{
		display: none;
	}
	.tab {
		position: relative;
		margin-bottom: 1px;
		width: 100%;
		color: #fff;
		overflow: hidden;
	  }
	  input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	  }
	  label {
		position: relative;
		display: block;
		padding: 0 0 0 1em;
		background: #708090;
		line-height: 3;
		cursor: pointer;
		border-bottom: 1px solid #fff;
	  }
	  .tab-content {
		max-height: 0;
		overflow: hidden;
		background: #708090;
		-webkit-transition: max-height .35s;
		-o-transition: max-height .35s;
		transition: max-height .35s;
	  }
  
	  .tab-content ul {
		margin: 0.5em 1em;
	  }
	  .tab-content li{
		line-height: 2;
		font-weight: 300;
	  }
	  .tab-content ul li a{
		  color: #fff;
	  }
	  .tab-content ul li a:hover{
		  color: #eee;
		  text-decoration: none;
	  }
	  /* :checked */
	input:checked ~ .tab-content {
		max-height: 10em;
	  }
	  /* Icon */
	  label::after {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 3em;
		height: 3em;
		line-height: 3;
		text-align: center;
		-webkit-transition: all .35s;
		-o-transition: all .35s;
		transition: all .35s;
	  }
	  input[type=checkbox] + label::after {
		content: "+";
	  }
	  input[type=radio] + label::after {
		content: "\25BC";
	  }
	  input[type=checkbox]:checked + label::after {
		transform: rotate(315deg);
	  }
	  input[type=radio]:checked + label::after {
		transform: rotateX(180deg);
	  }
	  /* 響應式手風琴 end */
}
